/django/.venv
/django/media
/django/static
/django/.env
/django/.gitignore
/django/*.md
/django/schema.graphql

/nuxt/node_modules
/nuxt/public/media
/nuxt/dist
/nuxt/scripts
/nuxt/.nuxt
/nuxt/.env
/nuxt/.gitignore
/nuxt/*.md
