TZ=Europe/Moscow
DOMAIN=wokalek.ru

# --- НОВЫЕ

NUXT_PUBLIC_API_URL=http://django:8000/graphql # Адрес API
NUXT_PUBLIC_SITE_URL=https://wokalek.ru # Адрес сайта
NUXT_PUBLIC_STATISTIC_URL=https://statistic.wokalek.ru/share/NzChi1xQn1FB7AEB/wokalek # Адрес публичной статистики

NUXT_PUBLIC_UMAMI_ID=___
NUXT_PUBLIC_UMAMI_HOST=https://statistic.wokalek.ru
