@theme {
  --font-sirius: "Sirius", var(--font-sans);
  --font-lora: "Lora", var(--font-serif);
  --font-code: "Fira Code", var(--font-serif);
  --font-emoji: "Noto Emoji", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --default-font-family: "Sirius", var(--font-emoji);
}
